body {
		background-color: #87AEC5;
    font-family: verdana, arial;
    font-size: 80%;
    text-align: center;
}

button {
	height: 30px; 
	border-radius: 8px; 
	font-size: 1em;
	background-color: navy;
	color: white;
	margin: 10px 10px 0 0;
}

.button-extralarge {
	width: 250px; 
}
.button-large {
	width: 200px; 
}

.button-medium {
	width: 125px; 
	
}

select {
	width: 30%; 
	height: 30px; 
	border-radius: 8px; 
	font-size: 1em;
	background-color: green;
	color: white;
	margin: 5px 10px 5px 0;
}

#launch-area, #channel-area, #message-panel {
	border: 2px solid black;
	padding: 5px 0 5px 0;
	margin: 10px 5px 10px 5px;
}

.area-border {
	width: 90%;
	margin-left: 5%;
	border: 1px solid black;
}

table {
	width: 80%;
	margin: 10px 5% 5px 10%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,td {
    padding: 5px;
}

.property {
	width: 25%;
	text-align: right;
	font-size: .9em;
}
.value {
	width: 50%;
	text-align: left;
	font-size: .9em;
}

#bookmarkUrl, #channelBookmarkUrl, #overlayUrl {
	width: 90%;
}
input[type="text"] {
	width: 40%;
}

.channel {
	padding: 3px;
	font-size: 1.1em;
}

#message-panel {
	font-size: 1.1em; 
	text-align: left; 
	margin-left: 10px;
	display: block;
}

#error-panel {
	display: block;
}


